USE [QuanLyHocSinh]
GO
/****** Object:  Table [dbo].[BANGDIEMMON]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEMMON](
	[MaBangDiemMon] [nvarchar](100) NOT NULL,
	[MaQuaTrinhHoc] [int] NULL,
	[DiemTBM] [float] NULL,
	[MaMon] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBangDiemMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAOTONGKETHOCKY]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOTONGKETHOCKY](
	[MaHocKy] [nvarchar](100) NOT NULL,
	[MaLop] [nvarchar](100) NOT NULL,
	[SoLuongDat] [int] NULL,
	[TyLeDat] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocKy] ASC,
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAOTONGKETMON]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOTONGKETMON](
	[MaBaoCaoTongKetMon] [nvarchar](100) NOT NULL,
	[MaHocKy] [nvarchar](100) NOT NULL,
	[MaMon] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoTongKetMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETBANGDIEMMON]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBANGDIEMMON](
	[MaChiTietBangDiemMon] [nvarchar](100) NOT NULL,
	[MaBangDiemMon] [nvarchar](100) NOT NULL,
	[MaHinhThucKiemTra] [nvarchar](100) NOT NULL,
	[Diem] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietBangDiemMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETBAOCAOTONGKETMON]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBAOCAOTONGKETMON](
	[MaChiTietBangDiemMon] [nvarchar](100) NOT NULL,
	[MaBaoCaoTongKetMon] [nvarchar](100) NOT NULL,
	[MaLop] [nvarchar](100) NOT NULL,
	[SoLuongDat] [int] NULL,
	[TyLeDat] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietBangDiemMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HINHTHUCKIEMTRA]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHTHUCKIEMTRA](
	[MaHinhThucKiemTra] [nvarchar](100) NOT NULL,
	[TenHinhThucKiemTra] [nvarchar](100) NOT NULL,
	[HeSo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHinhThucKiemTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[MaHocKy] [nvarchar](100) NOT NULL,
	[TenHocKy] [nvarchar](100) NOT NULL,
	[MaNamHoc] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MaHocSinh] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [smalldatetime] NOT NULL,
	[NoiSinh] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](100) NOT NULL,
	[DanToc] [nvarchar](100) NULL,
	[TonGiao] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](100) NOT NULL,
	[HoTenCha] [nvarchar](100) NULL,
	[NgheNghiepCha] [nvarchar](100) NULL,
	[HoTenMe] [nvarchar](100) NULL,
	[NgheNghiepMe] [nvarchar](100) NULL,
	[PhanLop] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOI]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOI](
	[MaKhoi] [nvarchar](100) NOT NULL,
	[TenKhoi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [nvarchar](100) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[SiSo] [int] NULL,
	[MaKhoi] [nvarchar](100) NOT NULL,
	[MaNamHoc] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MON]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[MaMon] [nvarchar](100) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NAMHOC]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAMHOC](
	[MaNamHoc] [nvarchar](100) NOT NULL,
	[TuNam] [int] NOT NULL,
	[DenNam] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUATRINHHOC]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUATRINHHOC](
	[MaQuaTrinhHoc] [int] IDENTITY(1,1) NOT NULL,
	[MaLop] [nvarchar](100) NOT NULL,
	[MaHocSinh] [int] NOT NULL,
	[MaHocKy] [nvarchar](100) NOT NULL,
	[DiemTBHK] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuaTrinhHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH](
	[TuoiToiDa] [int] NULL,
	[TuoiToiThieu] [int] NULL,
	[SoHocSinhToiDa] [int] NULL,
	[DiemDat] [float] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BANGDIEMMON]  WITH CHECK ADD  CONSTRAINT [fk11] FOREIGN KEY([MaQuaTrinhHoc])
REFERENCES [dbo].[QUATRINHHOC] ([MaQuaTrinhHoc])
GO
ALTER TABLE [dbo].[BANGDIEMMON] CHECK CONSTRAINT [fk11]
GO
ALTER TABLE [dbo].[BANGDIEMMON]  WITH CHECK ADD  CONSTRAINT [fk18] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[BANGDIEMMON] CHECK CONSTRAINT [fk18]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHOCKY]  WITH CHECK ADD  CONSTRAINT [fk12] FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HOCKY] ([MaHocKy])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHOCKY] CHECK CONSTRAINT [fk12]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHOCKY]  WITH CHECK ADD  CONSTRAINT [fk13] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHOCKY] CHECK CONSTRAINT [fk13]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON]  WITH CHECK ADD  CONSTRAINT [fk14] FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HOCKY] ([MaHocKy])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON] CHECK CONSTRAINT [fk14]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON]  WITH CHECK ADD  CONSTRAINT [fk15] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON] CHECK CONSTRAINT [fk15]
GO
ALTER TABLE [dbo].[CHITIETBANGDIEMMON]  WITH CHECK ADD  CONSTRAINT [fk10] FOREIGN KEY([MaHinhThucKiemTra])
REFERENCES [dbo].[HINHTHUCKIEMTRA] ([MaHinhThucKiemTra])
GO
ALTER TABLE [dbo].[CHITIETBANGDIEMMON] CHECK CONSTRAINT [fk10]
GO
ALTER TABLE [dbo].[CHITIETBANGDIEMMON]  WITH CHECK ADD  CONSTRAINT [fk9] FOREIGN KEY([MaBangDiemMon])
REFERENCES [dbo].[BANGDIEMMON] ([MaBangDiemMon])
GO
ALTER TABLE [dbo].[CHITIETBANGDIEMMON] CHECK CONSTRAINT [fk9]
GO
ALTER TABLE [dbo].[CHITIETBAOCAOTONGKETMON]  WITH CHECK ADD  CONSTRAINT [fk16] FOREIGN KEY([MaBaoCaoTongKetMon])
REFERENCES [dbo].[BAOCAOTONGKETMON] ([MaBaoCaoTongKetMon])
GO
ALTER TABLE [dbo].[CHITIETBAOCAOTONGKETMON] CHECK CONSTRAINT [fk16]
GO
ALTER TABLE [dbo].[CHITIETBAOCAOTONGKETMON]  WITH CHECK ADD  CONSTRAINT [fk17] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[CHITIETBAOCAOTONGKETMON] CHECK CONSTRAINT [fk17]
GO
ALTER TABLE [dbo].[HOCKY]  WITH CHECK ADD  CONSTRAINT [fk4] FOREIGN KEY([MaNamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[HOCKY] CHECK CONSTRAINT [fk4]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [fk2] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[KHOI] ([MaKhoi])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [fk2]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [fk3] FOREIGN KEY([MaNamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [fk3]
GO
ALTER TABLE [dbo].[QUATRINHHOC]  WITH CHECK ADD  CONSTRAINT [fk5] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[QUATRINHHOC] CHECK CONSTRAINT [fk5]
GO
ALTER TABLE [dbo].[QUATRINHHOC]  WITH CHECK ADD  CONSTRAINT [fk7] FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HOCSINH] ([MaHocSinh])
GO
ALTER TABLE [dbo].[QUATRINHHOC] CHECK CONSTRAINT [fk7]
GO
ALTER TABLE [dbo].[QUATRINHHOC]  WITH CHECK ADD  CONSTRAINT [fk8] FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HOCKY] ([MaHocKy])
GO
ALTER TABLE [dbo].[QUATRINHHOC] CHECK CONSTRAINT [fk8]
GO
/****** Object:  StoredProcedure [dbo].[USP_AddNamHoc]    Script Date: 06/05/2018 20:19:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_AddNamHoc] 
@MaNamHoc nvarchar(100), @NamBatDau nvarchar(100), @NamKetThuc nvarchar(100)
as
begin
	insert into NAMHOC values(@MaNamHoc, @NamBatDau,@NamKetThuc)
end
GO
